.btn {
  padding: 1rem 1.8rem;
  width: 35rem;
  max-width: 50%;
  height: 5rem;
  border-radius: 10rem;
  border: none;
  margin: 1rem auto;

  &--favorite {
    background-color: $btn-color;
    color: var(--color-white);
    text-shadow: 0 1rem 1.5rem #000;
  }
}
