.movies-searchbar {
  width: 50rem;
  transition: all 0.3s;

  &__input {
    font-size: $default-font-size;
    padding: 1.5rem;
    width: 100%;
    border-radius: 10rem;
    border: none;
    outline: none;
  }

  &:hover,
  &:active {
    width: 80rem;
  }
}
