.u-margin-small {
  margin-bottom: 1.5rem;
}

.u-margin-medium {
  margin-bottom: 4rem;
}

.u-margin-large {
  margin-bottom: 6rem;
}

/***** COLORS *****/
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-glass: rgba(0, 0, 0, 0.2);
  --background-main: #fff;
  --background-box: rgba(219, 219, 219, 0.573);
}

[data-themes=dark] {
  --background-main: #121212;
  --color-text: #ffffff;
  --color-dark: #000;
  --color-glass: #f07272;
  --background-box: rgba(132, 17, 17, 0.573);
}

main, .header__list, .header__logo, .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-wrapper, .error, .loader {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(15rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-main);
  font-weight: 500;
  line-height: 1.7;
}

@media only screen and (max-width: 968px) {
  main {
    flex-direction: column;
    height: 100%;
  }
}
.header {
  margin: 2rem 4rem;
  padding: 1.5rem 1rem;
  font-size: 1.6rem;
  background-color: var(--color-glass);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  background: var(--color-glass);
  border-radius: 1rem;
  box-shadow: 0 4px 30px var(--color-glass);
  gap: 2em;
}
.header > * {
  filter: none;
  z-index: 1;
}
.header__logo {
  color: var(--color-white);
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1.7;
  color: var(--color-black);
}
.header__list {
  gap: 2em;
}
.header__nav-item:last-child {
  margin-right: 1rem;
}
.header__nav-link {
  text-decoration: none;
  font-size: inherit;
  text-transform: uppercase;
  color: var(--color-black);
  font-weight: 600;
}

.footer {
  margin: 2rem 4rem;
  background-color: var(--color-glass);
  padding: 2rem 0;
  border-radius: 1rem;
}
.footer__text {
  text-align: center;
  font-size: 1.6rem;
  color: var(--color-black);
  font-weight: 600;
}

.movies-searchbar {
  width: 50rem;
  transition: all 0.3s;
}
.movies-searchbar__input {
  font-size: 1.6rem;
  padding: 1.5rem;
  width: 100%;
  border-radius: 10rem;
  border: none;
  outline: none;
}
.movies-searchbar:hover, .movies-searchbar:active {
  width: 80rem;
}

.movie-box {
  position: relative;
  margin: 2rem;
  border-radius: 3rem;
  overflow: hidden;
  background-color: rgba(219, 219, 219, 0.573);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
  z-index: 1;
  transition: all 0.3s;
}
.movie-box__image-box {
  width: 15rem;
  height: 20rem;
}
.movie-box__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.movie-box__info {
  padding: 2rem 1rem;
}
.movie-box__title {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 700;
}
.movie-box__description {
  font-size: 1.6rem;
}
.movie-box__release-date {
  font-size: 1.8rem;
  display: flex;
  gap: 0.5em;
}
.movie-box:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

@media only screen and (max-width: 968px) {
  .movie-box__title {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
  }
}
.loader {
  position: absolute;
  font-size: 3.5rem;
  font-weight: 600;
  z-index: 1;
}

.error {
  position: absolute;
}
.error__text {
  font-size: 2rem;
  color: var(--color-white);
  font-weight: 600;
}

.modal-wrapper {
  position: absolute;
  z-index: 99999;
}

.modal {
  position: relative;
  background-color: var(--background-main);
  max-width: 100rem;
  width: 75vw;
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(var(--color-black), 0.5);
  transform: perspective(-1100px);
  transition: all 0.4;
}
.modal--animated {
  animation: moveFromBottom 0.3s ease-in;
}
.modal__close {
  position: absolute;
  background-color: red;
  right: 2rem;
  top: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: inline-block;
  padding: 0 2rem;
  cursor: pointer;
  clip-path: circle();
}

.movie-details {
  font-size: 1.6rem;
  cursor: pointer;
}
.movie-details-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}
.movie-details__image-box {
  max-width: 30rem;
}
.movie-details__detaild__image {
  width: 100%;
}
.movie-details__info {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 0 0;
}
.movie-details__title {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--color-black);
  font-weight: 700;
  text-shadow: 0 0.8rem 2.5rem rgba(var(--color-white), 0.5);
}
.movie-details__released {
  font-size: 2rem;
  font-weight: 600;
}
.movie-details__genre {
  padding-top: 2rem;
}
.movie-details__plot {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
.movie-details__states {
  margin: 2rem 0;
  padding: 1rem 0;
  background-color: var(--color-black);
  border-radius: 10rem;
  text-align: center;
}

.movie-favorite__count {
  background-color: #facb3d;
  padding: 1rem 0;
  text-align: center;
  border-radius: 0 0 2rem 2rem;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.movie-favorite-details {
  padding: 0 4rem;
  display: flex;
  align-items: center;
  gap: 2em;
}
.movie-favorite-details:not(:first-child) {
  margin-top: 2rem;
}
.movie-favorite-details:not(:last-child) {
  padding-bottom: 2rem;
  border-bottom: 0.2rem solid var(--color-white);
}
.movie-favorite__image-box {
  width: 8rem;
}
.movie-favorite__image-box img {
  width: 100%;
}
.movie-favorite-info {
  font-size: 1.6rem;
}
.movie-favorite__state {
  padding-top: 1rem;
  display: flex;
  gap: 2em;
}
.movie-favorite__state p {
  display: flex;
  gap: 0.5rem;
  font-size: 1.8rem;
  font-weight: 600;
}
.movie-favorite__avg {
  background-color: var(--color-black);
  border-radius: 5rem;
  margin: 0 1rem;
  color: var(--color-white);
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-around;
}
.movie-favorite__avg p {
  font-size: 2rem;
}
.movie-favorite-delete {
  font-size: 2rem;
  margin-left: auto;
  border: none;
  padding: 0.7rem;
  clip-path: circle();
}

.dark_mode {
  margin-top: -20px;
  margin-left: 10px;
}

.dark_mode_label {
  width: 65px;
  height: 30px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}

.dark_mode_label:after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.dark_mode_input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.dark_mode_input:checked + .dark_mode_label {
  background: #242424;
}

.dark_mode_input:checked + .dark_mode_label:after {
  left: 62px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.dark_mode_label:active:after {
  width: 30px;
}

.dark_mode_label svg {
  position: absolute;
  width: 20px;
  top: 5px;
  z-index: 100;
}

.dark_mode_label svg.sun {
  left: 5px;
  fill: #fff;
  transition: 0.3s;
}

.dark_mode_label svg.moon {
  left: 40px;
  fill: #7e7e7e;
  transition: 0.3s;
}

.dark_mode_input:checked + .dark_mode_label svg.sun {
  fill: #7e7e7e;
}

.dark_mode_input:checked + .dark_mode_label svg.moon {
  fill: #fff;
}

.btn {
  padding: 1rem 1.8rem;
  width: 35rem;
  max-width: 50%;
  height: 5rem;
  border-radius: 10rem;
  border: none;
  margin: 1rem auto;
}
.btn--favorite {
  background-color: #00ba13;
  color: var(--color-white);
  text-shadow: 0 1rem 1.5rem #000;
}

body {
  background-color: var(--background-main);
  color: var(--color-text);
}

.header {
  background-color: var(--color-glass);
}
.header__logo, .header__nav-link {
  color: var(--color-text);
}

.movie-details__title {
  color: var(--color-text);
}

.movie-box {
  background-color: var(--background-box);
}

.movie__nbr-item-text {
  color: var(--color-dark);
}

main {
  gap: 2em;
  margin: 2rem 4rem;
  min-height: calc(100vh - 24rem);
}

.box {
  background-color: var(--color-glass);
  width: 100%;
  height: 70vh;
  border-radius: 1rem;
  z-index: 1;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #888 #000000;
  position: relative;
}

.movie__nbr-item {
  background-color: #facb3d;
  padding: 1rem 0;
  text-align: center;
  border-radius: 0 0 2rem 2rem;
}
.movie__nbr-item-text {
  font-size: 1.6rem;
}

.box-blured {
  z-index: 1;
}

.section-movies-favorite {
  position: relative;
}

/*# sourceMappingURL=index.css.map */
